.banners {
  height: 100vh;
  padding-top: 0 !important;

  .slide {
    height: 100vh;
    width: 100vw;
    position: relative;

    &:focus,&active{
      outline: none;
    }

    .text-wrap {
      width: 55%;
      position: relative;
      margin-top: 17%;

      @include screen-xl() {
        margin-top: 14%;
      }

      @include screen-lg() {
        width:80%;
      }

      @include screen-sm() {
        margin-top: 115px;

      }
      @include screen-xs() {
      width: 100%
      }


      &.--right {
        float: right;
        text-align: right;
      }

    }
    &__title {
      font-size: 5rem;
      line-height: 7rem;
      color: $dark-gray;

      @include screen-xl() {
        font-size: 4rem;
        line-height: 5rem;
      }
      @include screen-sm() {
        font-size:3rem;
        line-height:4rem;
      }
    }

    &--green {
      background: $green url("../img/green-car.png") 60% 65% no-repeat;
      //background-size: contain;
      color: $green;
      @include screen-xl() {
        background: $green url("../img/green-car.png") -19% 65% no-repeat;
      }
      @include screen-md() {
        background: $green url("../img/green-car.png") 22% 65% no-repeat;
      }


      @include screen-sm() {
        background:$green url("../img/green-car.png") 0 100% no-repeat;
        background-size: contain;
      }

      .btn:hover {
        svg {
          stroke: $green;
        }
      }
    }
    &--red {
      background: $red url("../img/red-car.png") 7% 73% no-repeat;
      //background-size: contain;
      color: $red;
      @include screen-xl() {
        background: $red url("../img/red-car.png") 104% 62% no-repeat;
      }
      @include screen-md() {
        background: $red url("../img/red-car.png") 85% 88% no-repeat;
      }

      @include screen-sm() {
        background: $red url("../img/red-car.png") 0 80% no-repeat;
        background-size: contain;
      }

      .btn:hover {
        svg {
          stroke: $red;
        }
      }
    }
    &--gray {
      background: $gray url("../img/gray-car.png") 65% 73% no-repeat;
      //background-size: contain;
      color: $gray;
      @include screen-xl() {
        background: $gray url(../img/gray-car.png) 240px 73% no-repeat;
      }
      @include screen-sm() {
        background: $gray url(../img/gray-car.png) 0 80% no-repeat;
        background-size: contain;
      }
      .btn:hover {
        svg {
          stroke: $gray;
        }
      }
    }
    &--lilac {
      background: $lilac url("../img/lilac-car.png") -114% 88% no-repeat;
      //background-size: contain;
      color: $lilac;

      @include screen-xl() {
        background: $lilac url("../img/lilac-car.png") 13% 62% no-repeat;
      }
      @include screen-md() {
        background: $lilac url("../img/lilac-car.png") 32% 62% no-repeat;
      }
      @include screen-sm() {
        background:$lilac url("../img/lilac-car.png") 0 100% no-repeat;
        background-size: contain;
      }

      .btn:hover {
        svg {
          stroke: $lilac;
        }
      }
    }
  }
}

.main-slider {
  .slick-dots {
    list-style: none;
    position: absolute;
    padding: 0;
    bottom: 0;
    left: 45%;
    @include  screen-sm(){
      left:15px;
    }
    li {
      display: inline-block;
      margin: 0 10px;
      button {
        border: transparent;
        border-radius: 50%;
        background: transparent;
        font-size: 2rem;
        font-weight: 300;
        width: 40px;
        height: 40px;
        font-family: $font-main;
        text-align: center;

        &:active, &:focus {
          outline: none;
        }
      }
      &.slick-active {
        button {
          color: #fff;
          border: solid 1px #fff;
        }
      }
    }
  }
}
