.history-section {
  padding: 110px 0;

  @include  screen-xl(){
    padding: 50px 0;
  }

  @include  screen-xs(){
    padding: 35px 15px;

  }
  .info {
    text-align: center;
  }

  .ages-wrap {
    margin: 40px 0;
    display: flex;

    @include  screen-sm(){
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 0;
    }
  }

  .ages-block {
    width: 25%;
    font-size: 14px;
    text-align: center;
    padding: 2em;
    transition: background .2s ease;
    box-sizing: border-box;

    &__year {
      font-size: 6vw;
      font-weight: 700;
      color: $light-gray;
      transition: color .3s ease;

    }

    &__descr {
      color: #fff;
      transition:color.3s ease-out, transform .3s ease;
      transform: translateY(15px);
      text-align: center;
      width: 100%;
      margin-bottom: 2em;
    
    }

    &:hover {
      background: $dark-gray;
    }


    @include  screen-sm(){
      width: 50%;
      background: $light-gray;

      &__year {
        color: $dark-gray;
      }
      &__descr {
        color:  $dark-gray;
      }

      &:hover {
        .ages-block__year {
          color: $ultra-light-gray;
        }
        .ages-block__descr {
          color: $ultra-light-gray;
        }
      }

    }

  }
}



.history-first-screen{
  color: #fff;
  height: 100vh;
  text-align: center;



  &__title{
    margin-top: 22%;
    margin-bottom: 0.7em;
    font-size: 118px;
    font-weight: 700;
    display: inline-block;

    @include screen-xl(){
      margin-top: 12%;
      margin-bottom: 0.5em;
    }

    @include screen-md(){
      margin-top: 205px;
      font-size: 10vw;
    }

    @include screen-sm(){
      font-size: 12vw;
      margin-bottom: 0.4em;
    }
    @include screen-xs(){
      font-size: 20vw;
    }

    @media (max-width: 740px) and (orientation: landscape) {
      margin-top: 50px;
    }


  }

  &__name{
    font-size: 51px;
    font-weight: 400;

    @include screen-md(){
      font-size: 33px;
    }
    @include screen-xs(){
      font-size: 25px;
    }
  }
}
.history-content{
  padding: 100px 0;
  text-align: center;

  @include screen-lg(){
    padding: 50px 0;
  }
  .container{
    max-width: 850px;
  }
  p{
    font-size: 15px;
    text-align: left;
  }

  img{
    max-width: 100%;
    margin: 30px auto;
  }
}

.history-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:flex-start;
  padding-top: 50px;
  @include screen-sm(){
    justify-content: center;
  }
}

.history-block{
    width: 50%;
  position: relative;
  padding-bottom: 20vw;
  margin-bottom: 80px;

  @include screen-xl(){
    margin-bottom: 40px;
  }
  @include screen-lg(){
    padding-bottom: 28vw;
  }
  @include screen-md(){
    padding-bottom: 33vw;
  }
  @include screen-sm(){
    width: 80%;
    padding-bottom:50vw;
  }
  @include screen-xs(){
      width: 95%;
      padding-bottom: 80vw;
  }

  &:hover{
    .history-block__img{
      transform: scale(1.2);
    }
    .history-block__year{
      top:10px;
      left:15px;
      color: $dark-gray;
    }
  }

  &__year{
    font-size: 118px;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    /* autoprefixer: off */
    transition: top .2s ease, left .3s ease,color .3s ease;
    color: $light-gray;

    @include screen-xl(){
      font-size: 80px;
    }
    @include screen-sm(){
      font-size: 15vw;
    }
  }

  &__img{
    max-width: 500px;
    width: 70%;
    position: absolute;
    bottom: 70px;
    right:40px;
    z-index: -1;
    transform: scale(1);
    transition: transform .3s ease;
  }

  &__descr{
    font-size: 22px;
    text-align: center;
    margin: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;

  }
}
