<section class="banners">
    <div class="main-slider">
        <div class="slide slide--gray">
            <div class="container">
                <div class="text-wrap">
                    <div class="slide__title">
                        <div class="--white">
                            Новый подход
                        </div>
                        к привычным вещам
                    </div>
                    <a href="model-page.html" class="btn">смотреть модель   <span class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.2 25.99">
                            <polyline class="cls-1" points="1.18 0.93 11.24 13.68 1.26 24.99"/>
                        </svg>
                    </span></a>
                </div>
            </div>
        </div>

        <div class="slide slide--green">
            <div class="container">
                <div class="text-wrap">
                    <div class="slide__title">
                        <div class="--white">
                            Современные технологии
                        </div>
                        в сочетании с уникальным
                        дизайном
                    </div>
                    <a href="model-page.html" class="btn">смотреть модель   <span class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.2 25.99">
                            <polyline class="cls-1" points="1.18 0.93 11.24 13.68 1.26 24.99"/>
                        </svg>
                    </span></a>
                </div>
            </div>
        </div>

        <div class="slide slide--red">
            <div class="container">
                <div class="text-wrap --right">
                    <div class="slide__title ">
                        <div class="--white">
                            Volkswagen Beetl
                        </div>
                        движение в радость
                    </div>
                    <a href="model-page.html" class="btn">смотреть модель  <span class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.2 25.99">
                            <polyline class="cls-1" points="1.18 0.93 11.24 13.68 1.26 24.99"/>
                        </svg>
                    </span></a>
                </div>
            </div>
        </div>
        <div class="slide slide--lilac">
            <div class="container">
                <div class="text-wrap">
                    <div class="slide__title">
                        <div class="--white">
                            Создай свой яркий образ
                        </div>
                        почувствуй зависть окружающих
                    </div>
                    <a href="model-page.html" class="btn">смотреть модель   <span class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.2 25.99">
                            <polyline class="cls-1" points="1.18 0.93 11.24 13.68 1.26 24.99"/>
                        </svg>
                    </span></a>
                </div>
            </div>
        </div>
    </div>
</section>