<section class="banners">
    <div class="main-slider">
        <div class="slide slide--gray">
            <div class="container">
                <div class="slide__title">
                    <div class="--white">
                        Новый подход
                    </div>
                    к привычным вещам
                </div>
                <a href="" class="btn">смотреть модель</a>
            </div>
        </div>

        <div class="slide slide--green">
            <div class="container">
                <div class="slide__title">
                    <div class="--white">
                        Современные технологии
                    </div>
                    в сочетании с уникальным
                    дизайном
                </div>
                <a href="" class="btn">смотреть модель</a>
            </div>
        </div>

        <div class="slide slide--red">
            <div class="container">
                <div class="slide__title">
                    <div class="--white">
                        Volkswagen Beetl
                    </div>
                    движение в радость
                </div>
                <a href="" class="btn">смотреть модель</a>
            </div>
        </div>
        <div class="slide slide--lilac">
            <div class="container">
                <div class="slide__title">
                    <div class="--white">
                        Создай свой яркий образ
                    </div>
                    почувствуй зависть окружающих
                </div>
                <a href="" class="btn">смотреть модель</a>
            </div>
        </div>
    </div>
</section>