<!-- FOOTER -->
<footer >
    <div class="container">
        <nav class="footer">
            <a class="logo" href="index.html"><img src="img/logo.svg" alt=""></a>

            <div class="footer__list">
                <div class="footer__item">
                    <a href="models.html" class="footer__link">Модельный ряд</a>
                </div>
                <div class="footer__item">
                    <a href="service.html" class="footer__link">Услуги</a>
                </div>
                <div class="footer__item">
                    <a href="contacts.html" class="footer__link">Контакты</a>
                </div>
                <div class="footer__item">
                    <a href="history.html" class="footer__link">История</a>
                </div>
                <div class="footer__item">
                    <a href="blog.html" class="footer__link">Блог</a>
                </div>
                <div class="footer__item socials">
                    <a href="" class="socials__item vk">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                    <a href="" class="socials__item fb">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="" class="socials__item od">
                        <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
                    </a>
                    <a href="" class="socials__item in">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="" class="socials__item tw">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</footer>