<!-- HEADER -->

<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-target="#myNavbar">
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="#"><img src="img/logo.svg" alt=""></a>
        </div>
        <div class="navbar-collapse" id="myNavbar">
            <ul class="nav">
                <li class="nav__item"><a href="#models" class="nav__link">Модельный ряд</a></li>
                <li class="nav__item"><a href="#service" class="nav__link">Услуги</a></li>
                <li class="nav__item"><a href="#blog" class="nav__link">Блог</a></li>
                <li class="nav__item"><a href="#history" class="nav__link">История</a></li>
                <li class="nav__item"><a href="#contacts" class="nav__link">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>
