<section id="services">
    <div class="container">
    <div class="services-wrap">

        <div class="info">
            <div class="info__about">
                Услуги
            </div>
            <div class="info__title">
                Подбор и доставка
            </div>
            <a href="" class="info__link">
                ВСЕ УСЛУГИ
            </a>
        </div>

        <div class="service-block">
            <a href="" class="service-block__link">
                <span class="service-block__img">
                    <img src="img/accessories.png" alt="">
                </span>
                <div class="service-block__title">
                    аксессуары <span class="arrow"><img src="img/r-arrow.svg" alt=""></span>
                </div>
            </a>
        </div>
        <div class="service-block">
            <a href="" class="service-block__link">
                <span class="service-block__img">
                    <img src="img/discs.png" alt="">
                </span>
                <div class="service-block__title">
                  Литые диски <span class="arrow"><img src="img/r-arrow.svg" alt=""></span>
                </div>
            </a>
        </div>
        <div class="service-block">
            <a href="" class="service-block__link">
                <span class="service-block__img">
                    <img src="img/spares.png" alt="">
                </span>
                <div class="service-block__title">
                  запчасти <span class="arrow"><img src="img/r-arrow.svg" alt=""></span>
                </div>
            </a>
        </div>
    </div>
        </div>

</section>