html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 1.4rem;
  font-family: $font-main;
  margin: 0;
  color: $dark-gray;
  font-weight: 300;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}


div, section {
  box-sizing: border-box;
}


section:first-child{
  padding-top: 115px;

  @include screen-xl() {
    padding-top: 75px;
  }
  @include screen-xs() {
    padding-top: 40px;
  }

}


a{
  text-decoration: none;
  color: $dark-gray;
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  resize: none;
}

.container {
  width: 1370px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  @include screen-xl() {
    width: 1170px;
  }
  @include screen-lg() {
    width: 990px;
  }
  @include screen-md() {
    width: 770px;
  }
  @include screen-sm() {
    width: 100%;
  }
}


::selection {
  background-color: initial;
}

.wrapper{
  transition: filter .2s;
  filter: none;

  &.hidden{
    height: 100vh;
    overflow: hidden;
    filter:blur(5px);
    pointer-events: none;
  }
}
.--white {
  color: #fff;
}

.btn {
  padding: 10px 20px;
  padding-right: 0;
  border: 3px solid #fff;
  text-transform: uppercase;
  font-size: 1.6em;
  line-height: 1.6em;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 60px;

  @include  screen-sm(){
    padding: 6px 15px;
    padding-right: 0;
    font-size: 1.2em;
    line-height: 1em;
    margin-top: 40px;
  }
  &:after {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
    transition: width ease-out .3s;

  }

  .arrow {
    content: '';
    width: 55px;
    height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align:middle;
   svg {
      height: 90%;
      position: relative;
    }
  }

  &:active, &:focus {
    outline: none;
  }

  &:hover {
    color: inherit;

    &:after {
      width: 100%;

    }
  }
  &:active{
    .arrow {
     svg{
        right: -12px;
      }
    }
  }
}


.arrow{
  content: '';
  display: inline-block;
  text-align: center;
  vertical-align:middle;

  svg {
    height: 90%;
    position: relative;
    /* autoprefixer: off */
    transition: right .3s ease, stroke .3s ease;
    right: 0;
    fill:none;
    stroke:#fff;
    stroke-miterlimit:10;
    stroke-width:3px;
  }
}


.info {
  font-size: 16px;

  @include  screen-sm(){
    font-size: 14px;
  }

  &__about {
    color: $font-light-gray;
    font-size: 0.9em;
    margin-bottom: 2em;
    @include  screen-sm(){
      margin-bottom:1em;
    }


  }

  &__title {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 1em;
    @include  screen-sm(){
      font-size: 1.6em;
    }

  }

  &__text{
    line-height: 1.5em;
    font-size: 0.9em;
    margin-top: -2em;
    margin-bottom:  2em;

    @include  screen-sm(){
      margin-top: -1em;
    }

  }
  &__link {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: $dark-gray;

    .arrow{
      height: 18px;
      width: 35px;
      position: relative;
      top: -2px;
      right: 0;
      transition: right .3s ease;
      svg{
        height: 100%;
        stroke: $dark-gray;
      }
    }

    &:hover{
      .arrow {
        right: -10px;
      }
    }
  }
}



.logo {
  img {
    height: 65px;
    @include screen-md() {
      height: 45px;
    }
  }
}